<!-- <div class="form-container">

<img src="/assets/homepagebird.jpg" alt="fantasy bird illustration">
<form (ngSubmit)="buildPlayer(form.value.name)" #form="ngForm">
    <label for="name">Name Your Character
        <input #name="ngModel" (ngModel)="(name)" pattern="[A-Za-z]*" type="text" placeholder="Name" name="name"
            required></label>

    <div *ngIf="!name?.valid  && (name?.dirty || name?.touched) && name.errors.pattern" class="valid">
        <p> Please enter a name that is only letters</p>
    </div>
    <button type="submit" [disabled]="form.invalid">Start</button>
</form>

</div> -->


