.intro {
    font-family: 'Kalam', cursive;
    border-bottom: double black;
    height:90vh;
    position:relative;
}
.intro p {
    margin: 2% 2% 0% 2%;
    padding: 0px;
}
.character {
    position: absolute;
    height: 55%;
    left: 12%;
    bottom: -9%;
}
.door {
    position: absolute;
    width: 61%;
    left: 43%;
    bottom: -2%;
    margin: 0;
    padding: 0;
}