:host() {
  display: flex;
  position: relative;
  flex-direction: column;
}
.trees{
  position: absolute;
  z-index: -1;
  top: 19%;
  opacity: .7;
}
.narration{
    margin: 2% 1% 2% 6%;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 1em;
}
/* .img-container{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
} */
.character {
    display: flex;
    width: 100%;  
    position: relative;
    
}
.bio {
  font-size:4vw;
  font-family: 'Lato', sans-serif;
  margin: 10% 3% 0% 5%;
  font-weight: bold;
}
.player {
    width: 17%;
    border-top-style: 2px double;
}
