<section class= 'narration'>
    <p>{{name}} made it to the bus stop on time. {{name}} thinks the day is getting better but doesn't realize that luck is 
    about to run out. Click the button to see what happens next!
    </p>
    <button (click) = "driveBus()">GO</button>
    <div *ngIf = "displayCharacter" [@text] = "textAppear" class = 'text-container'>
        <p class ='text'> {{character.name}} has been pooped on by a mutant bird. Should {{character.pronoun}} go back home and wash up or get on the school bus? 
        </p>
    </div>
</section>
    
<img class="img-sky" src="assets/sky2.png"> 

<section class="img-container" [@hightlighted] = "highlight">
        <img class = 'highlight-bird' src="assets/sm-bird.png" alt="">
</section>  

<div class = "img-container">
        <img class="img-busstop" src="assets/busstop1.png">
        <img [@busStop]= "busDrive"  class= 'img-bus' src="assets/schoolbus2.png" alt="">
        <img [@hightlighted] = "poopFall"  class = 'poop' src = "assets/poop.png">
        <img [@busStop] = "fly" src="assets/sm-bird.png">
    
        <img class= "character" [src] = "character.image" >
   
</div>

   






<!-- <div class="img-container background" [ngClass]="{
    'hidden' : isHidden}">
    <img [@birdFly]= "poopFall" src = "assets/poop.png">
    <img class="img-sky" src="assets/sky2.png">
    <img [@birdFly]= "birdFly" src="assets/mutantBirdDroppings.png" alt="mutant bird flys through sky and drops green droppings">
    


</div> -->

 